@media screen and (max-width: 750px) {
  
  html {
    max-width: 750px;
    height: auto;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  } 

  .page-preloader {
    display: inline-block;
    position: fixed;
    z-index: 8;
    top: -30px;
    width: 100%;
    height: 110%;
    padding: 0;
    margin: 0;
    background-color: #262626; 
  }

  .preloader {
    display: none;
  }

  /*MAZE*/

  .second-word {
    display: block;
    position: relative;
    top: -540px;
  }

  .second-title {
    position: relative;
    top: -100px;
    text-align: center;
  }

  .second-title h1 {
    font-size: 40px;
    font-family: Helvetica;
    color: #fff;
    letter-spacing: 5px;
  }

  #first-hr {
    position: relative;
    top: -10px;
    left: 15%;
    width: 70%;
    filter: brightness(100%);
    animation: first-hr 1.5s 1 ;
  }

  #second-hr {
    position: relative;
    top: -5px;
    left: 15%;
    width: 50%;
    animation: second-hr 2.5s 1;
  }

  #thirth-hr {
    position: relative;
    top: 0px;
    left: 15%;
    width: 70%;
    animation: thirth-hr 3.5s 1;
  }

  @keyframes first-hr {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
  }

  @keyframes second-hr {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
  }

  @keyframes thirth-hr {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
  }

  .preloader-text {
    top: 250px;
  }
   
  .typed-cursor {
    font-size: 15px;
    top: -5px;
    left: 1px;
  } 

  #parentheses {
    font-size: 15px;
    top: 150px;
    
  }


  #parentheses p {
    font-size: 15px;
    margin-left: 3px;
  }

  #words {
    top: -17px;
  }


  .nav-pc  {
   display: none;
  }

  .nav-mob {
    display: block;
    font-size: 28px;
    line-height: 15px;
    letter-spacing: 2px;
    z-index: 3;
    background-color: #303133;
    width: 200px;
    height: 1000%;
    position: absolute;
    top: 7px;
    right: -30px;
    transform: translateX(100%);
    transition: 0.5s;
  }

  #glide {
    transform: rotate(90deg);
    position: relative;
    top: 115px;
    left: -92px;
    animation: hr 1s ease;  
  }
      #glide-2 {
        transform: rotate(90deg);
        position: relative;
        top: 130px;
        left: -92px;
        animation: hr 1s ease;  
      }

  .active {
    animation: hr 1s ease;
  }


  @keyframes hr {
    0% {
      top: 100px;
    }

    10% {
      top: 110px;
    }

    30% {
      top: 140px;
    }

    100% {
      top: 250px;
    }
  }





  .nav-mob ul {
    position: relative;
    top: -60px;
  }

  .nav-mob li {
    list-style: none;
    width: 200px;
    position: relative;
    left: -40px;
  }

  .nav-mob li:hover {
    background-color: #626870;
  }

  #avatar {
    width: 200px;
    height: 180px;
    border-radius: 0%;
    position: relative;
    top: 0px;
    left: 0%;
  }


  .nav-mob img {
      width: 22px;
      height: 22px;
      position: relative;
      display: block;
      left: 150px;
      top: -110px;
      margin-bottom: 17px;
    }
   
   .nav-mob li:hover #icons-q{
      transform: rotate(360deg);
    }

  .nav-mob li a {
      font-family: Roboto,serif;
      font-size: 15px;
      position: relative;
      top: 2px;
      left: 20px;
  } 



  .menu-active {
    height: 1000px;
    transform: translateX(-15%);
    }

    .menu-active hr {
      position: relative;
      width: 90%;
      top: 40px;
  }
  #q {
    position: relative;
    top: 45px;
    height: 30px;
    width: 300px;
  }
    #w {
      position: relative;
      top: 55px;
      height: 30px;
    }
      #e {
      position: relative;
      top: 65px;
      height: 30px;
      }
        #r{
        position: relative;
        top: 75px;
        height: 30px;
      }
        #t{
          position: relative;
          top: 85px;
          height: 30px;
      }

  #icons-q {
    top: -189px;
  }
    #icons-w {
      top: -189px;
    }
      #icons-e {
        top: -187px;
      }
        #icons-r {
          top: -185px;
        }
          #icons-t {
            top: -185px;
          }


    .menu-active h6 {
      font-size: 10px;
      font-family: sans-serif;
      font-size: 11px;
      color: #fff;
      text-align: center;
      position: relative;
      top: -150px;
    }

    .nav-mob h6 {
      font-size: 10px;
      font-family: sans-serif;
      font-size: 10px;
      color: #fff;
      text-align: center;
      position: relative;
      top: -170px;
    }


  header {
    position: relative;
    top: -15px;
    width: 100%;
  }

  .head {
    height: 25px;
    width: 100%;
  }

  .logo {
    position: relative;
    top: 5px;
  }  


  .logo img {
   width: 28px;
   height: 28px;
   position: relative;
   top: -2;
   left: -7px;
   bottom: 5px;
  } 
  
  .logo hr {
   margin-top: -10px;
   margin-right: 9px; 
   width: 74px;
  }

  span {
    color: #f7f7f7;
    font-family: Roboto Slab,serif;
    font-size: 23px;
    position: relative;
    letter-spacing: 2px;
    top: -12px;
    left: -5px;
}


  label {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

  .hamburger {
    position: relative;
    left: -10px;
  }

  .burger-line {
    position: absolute;
    top: 31px;
    right: 25px;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .second, .third {
        top: 40px;
    }
        .fourth {
            top: 49px;
        }


  .sidebar {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 370px;
  }

  .side1 {
    width:  100%;
  }

  .side2 {
    width: 100%;
  }

  .side3 {
    width: 100%;
  }

  content {
    justify-content: space-between;
    display: block;
    width: 100%;
    position: relative;
    top: -15px;
  }

  .container {
    width: 100%;
    padding-bottom: 40px; 
    height: auto;
  }

  .container-active {
    width: 100%;
    padding-bottom: 40px; 
    height: auto;
    opacity: .2;
  }

  .box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
  }

  .box  h1 {
    font-size: 23px;
    padding: 10px;
    text-align: all;
    font-family: sans-serif;
    word-spacing: -1px;
    line-height: 28px;
  }

  .box  h3 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px; 
  }


  .slideshow-container {
    height: auto;
    position: relative;
    top: -30px;
    margin-bottom: 20px;
  }

  .slideshow-container img {
    max-width: 100%;
    height: auto;
    top: 0px;
    margin-top: 5px;
    margin: 0 auto;
    }

  .prev, .next {
     display: none;
  }
 
  .text {
    display: none;
  }

  .button {
    position: relative;
    top: -15px;
    width: 100%;
    left: 0%; 
    display: inline-block;
  } 

  .dot {
    width: 10px;
    height: 10px;
    top: 0px;
    margin: 0 2;
    display: inline-block;
  }

  .box hr {
    margin-top: 10px;
    position: relative;
  }


  .page-paragraph {
    width: 100%;
    height: auto;
    position: relative;
    top: -12px;
    margin: 0 auto;
  }

  .paragraph p {
    font-size: 17px;
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -5px;
  }

  .paragraph hr {
    position: relative;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  main {
        display: none;
    }


    .section {
      width: 110px;
      height: 10px;
      position: relative;
      top: -10px;
      cursor: pointer;     
    }
    
  .layer {
    width: 110px;
    height: 10px;      
  }

  #a {
    font-size: 12px;
        top: -15px;
  }

  .section img {
    width: 25px;
    height: 25px;
    top: -6px;
    left: -7px;
  }

    .sidebar {
        margin-top: -340px;
        width: 100%;
        height: auto;
    }

    .side1 {
        height: auto;
        margin-top: -10px;
        padding-bottom: 20px;
    }

    .side1 img {
        width: 80px;
        height: 80px;
        top: 30px;
    }

    .side1 h2 {
        top: 20px;
        font-size: 20px;
    }

    .side1 h3 {
        font-size: 15px;
        top: 10px;
    }

    .side2 {     
        margin-top: -20px;
        height: 100px;
        padding-bottom: -40px;
    }

    #z {
        font-size: 60px;
        position: relative;
        top: 70px;
    }

    #p {
        font-size: 20px;
    }

    #x {
        font-size: 60px;
        margin-top: 65px;
        margin-bottom: 10px;
    }

    .side3 {
        height: auto;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .side3 h3 {
        font-size: 18px;
    }

    .новости a {
        font-size: 16px;
        top: -20px;
    }

    .новости img {
        width: 40px;
        height: 40px;
        position: relative;
        top: -5px;
    }

    #almaz img {
        width: 40px;
        height: 30px;
    }

    #hr {
        margin-top: -40px;
    }

    #all-news {
        margin-top: -9px;
        font-size: 16px;
    }

    .desk-page {
      overflow: hidden;
    }

    footer {
        width: 100%;
        height: auto;
        margin-top: 450px;
        padding-bottom: 5px;
    }

    .over {
        display: block;
        position: relative;
        top: -40px; 
    }

    .over ul {
        display: none;
    }

    .social {
        margin-top: 90px;
    }

    .copyright h2 {
        font-size: 18px;
    }

    .copyright h3 {
        font-size: 15px;
        margin-top: -10px;
    }
}
