@media screen and (max-width: 750px) {
  
html {
  max-width: 750px;
  height: auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
} 

.preloader {
  display: inline-block;
  position: fixed;
  z-index: 11;
  top: -30px;
  width: 100%;
  height: 110%;
  padding: 0;
  margin: 0;
  background-color: #262626; 
}

.page-preloader {
  display: block;
  position: relative;
  top: 50%;
}







.nav-pc  {
 display: none;
}

.menu-active {
  width: 100%;
  height: 1000px;
  display: none;
  font-size: 28px;
  line-height: 15px;
  letter-spacing: 2px;
  z-index: 3;
  background-color: #212121;
  position: fixed;
  top: -15px;
  margin: 0 auto;
  transition: .4s ease;
}


.active {
  animation: hr 1s ease;
}


@keyframes hr {
  0% {
    top: 100px;
  }
  10% {
    top: 110px;
  }
  30% {
    top: 140px;
  }
  100% {
    top: 250px;
  }
}


.menu-active h2 {
  font-size: 25px;
  font-family: Dewberry Regular;
  font-weight: normal;
  color: #349e65;
  text-align: center;
  position: relative;
  top: 20px;
}

.menu-active ul {
  position: relative;
  top: 20px;
}

.menu-active li {
  width: 200px;
  list-style: none;
  position: relative;
  left: -60px;
}

.menu-active li:hover {
  background-color: #626870;
  left: 8px;
}

#avatar {
  width: 200px;
  height: 180px;
  border-radius: 0%;
  position: relative;
  top: 0px;
  left: 0%;
}

.menu-active img {
  width: 22px;
  height: 22px;
  position: relative;
  display: block;
  right: -85%;
  top: -110px;
  margin-bottom: 17px;
}
   

.menu-active li a {
  font-family: monospace;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 7px;
  left: 40px;     
}


  /*only for animation*/
.menu-active li {
  transition: .2s all;
} 


.menu-active hr {
  position: relative;
  width: 90%;
  top: 40px;
  left: -40px;
}
  #q {
    position: relative;
    top: 22px;
    height: 35px;
    width: 350px;
  }
    #w {
      position: relative;
      top: 32px;
      height: 35px;
      width: 350px;
    }
      #e {
        position: relative;
        top: 42px;
        height: 35px;
        width: 350px;
      }
        #r{
          position: relative;
          top: 52px;
          height: 35px;
          width: 350px;
        }
          #t{
            position: relative;
            top: 62px;
            height: 35px;
            width: 350px;
          }

  #icons-q {
    top: -153px;
  }
    #icons-w {
      top: -148px;
    }
      #icons-e {
        top: -142px;
      }
        #icons-r {
          top: -135px;
        }
          #icons-t {
            top: -130px;
          }




.menu-active h6 {
  font-size: 10px;
  font-family: sans-serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 30px;
}


header {
  position: fixed;
  top: -10px;
  width: 100%;
  height: 25px;
  padding-bottom: 12px;
  z-index: 10;
  opacity: 0.95;
}

.head {
  height: 25px;
  width: 100%;
  position: relative;
}

.logo {
  position: relative;
  top: 0px;
}  


.logo img {
  width: 28px;
  height: 28px;
  position: relative;
  top: -2;
  left: -7px;
  bottom: 5px;
} 
  
.logo hr {
  margin-top: -10px;
  margin-right: 9px; 
  width: 70px;
}

span {
  color: #f7f7f7;
  font-size: 26px;
  position: relative;
  letter-spacing: 2px;
  top: -8px;
  left: -5px;
}


label {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 40px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.hamburger {
  display: block;
  position: relative;
  left: -10px;
}

.burger-line {
  position: absolute;
  top: 28px;
  right: 25px;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s all;
}
  .second, .third {
    top: 37px;
  }
    .fourth {
        top: 46px;
    }


.theme {
  display: none;
}



content {
  justify-content: space-between;
  display: block;
  width: 100%;
  position: relative;
  top: 50px;
}


.container {
  width: 100%;
  padding-bottom: 40px; 
  height: auto;
}

.container-active {
  width: 100%;
  padding-bottom: 40px; 
  height: auto;
  opacity: .2;
}

.box {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: -5px;
}

.box  h1 {
  color: #282828;
  font-size: 40px;
  padding: 12px;
  padding-top: 20px;
  text-align: all;
  font-family: sans-serif;
  font-weight: normal;
  word-spacing: 0px;
  line-height: 40px;
  margin-right: 8px;
  margin-bottom: 13px;
  margin-top: 10px;
}

.box  h3 {
  font-size: 13px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 7px;
}

.box h3 img {
  width: 18px;
  height: 20px;
}
 
.text {
  display: none;
}

.button {
  position: relative;
  top: -18px;
  width: 100%;
  left: 0%; 
  display: inline-block;
} 

.dot {
  width: 10px;
  height: 10px;
  top: 0px;
  margin: 0 2;
  display: inline-block;
}

.box hr {
  margin-top: 0px;
  position: relative;
  top: -4px;
  display: block;
}


.page-paragraph {
  width: 100%;
  height: auto;
  position: relative;
  top: -12px;
  margin: 0 auto;
  margin-bottom: -25px;
}

.paragraph p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 17px;
  margin-right: 17px;
  text-align: justify;
  line-height: 23px; 
  margin-top: 0px;
  margin-bottom: -5px;
}

.paragraph h3 {
  position: relative;
  text-align: center;
  left: 0;
  margin: 45px 20px 0 20px;
  font-size: 22px;
}

.paragraph li {
  position: relative;
  top: -10px;
  letter-spacing: 0px;
  word-spacing: -1px;
  padding-left: 10px;
  left: -50px;
}

.paragraph span {
  position: relative;
  left: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.paragraph i {
  font-family: 
  font-size: 16px;
  top: -7px;
}
  
.state-3 {
  padding-bottom: 40px;
}


#a {
  font-size: 12px;
      top: -15px;
}

.section img {
  width: 25px;
  height: 25px;
  top: -6px;
  left: -7px;
}


.sidebar {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.side_one {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.side_two {
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
    margin: 60px auto;
}

#quotes-1 {
    position: relative;
    top: -20px;
}

#quotes-2 {
  top: -40px;
}

.side_three {
  width: 100%;
}

.side_three_news li {
    display: block;
    height: 50px;
    margin-bottom: 30px;
    position: relative;
    left: -10px;
    align-items: center;
    font-family: "Rubik Regular", sans-serif;
}

.side_three_news li:nth-child(2) {
    margin-top: -4px;
}

.side_four {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
    margin: 60px auto 130px;
    padding: 0px 0px 5px 0px;
}


#hr {
  margin-top: -40px;
}

#all-news {
  margin-top: -9px;
  font-size: 16px;
}

.desk-page {
  overflow: hidden;
  width: 90%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
  padding: 0;
}

.desk-1 {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

#desk-1-more {
  width: 80%;
  transition: .3s;
}
  .desk-1:hover #desk-1-title {
    top: -230px;
  }
    .desk-1:hover #desk-1-subtitle {
      top: -250px;
    }

footer {
  width: 100%;
  height: auto;
  margin-top: 450px;
  padding-bottom: 5px;
}

.over {
    display: block;
    position: relative;
    top: -40px; 
}

}

@media screen and (min-width: 1200px) {
  .preloader-text {
    height: 100px;
    position: relative;
    top: 600px;
  }
}

@media screen and (min-width: 1800px) {
  .preloader-text {
    height: 100px;
    position: relative;
    top: 900px;
  }
}
