@media screen and (max-width: 480px) and (max-width: 767px) {
	
	body {
		width: 100%;
		height: auto;
		overflow-x: hidden;
	}

	header {
		width: 100%;
		overflow: hidden;
	}


	.head-r {
		width: 100%;
		height: 45px;
		background-color: #fff;
	}

	.page img {
		width: 960px;
		height: 570px;
		position: relative;
		left: -100px; 
		overflow: hidden;
	}

	.head h1 {
		font-size: 28px;
		left: 20px;
		color: #fff;
	}

	#menu {
		display: none;
	}

	.main-menu {
		width: 100%;
		height: 520px;
		position: fixed;
		top: 45px;
		text-align: center;
		background-color: #000;
		display: block;
		overflow: hidden;
		transition: 1s all ease;
		z-index: 1;
	}

	.main-menu li {
		width: 80%;
		height: 75px;
		list-style: none;
		font-size: 21px;
		font-family: sans-serif;
		line-height: 50px;
		position: relative;
		top: 40px;
		left: 10%; 
		text-align: left;
	}

	.main-menu h2 {
		color: #a0a0a0;
		font-family: Helvetica, sans-serif;
		font-size: 28px;
		position: relative;
		top: 20px;
	}

	.main-menu a {
		text-decoration: none;
		color: #fff;
		letter-spacing: 1px;
		/*border-bottom-color: 2px  #fff;*/
	}

	.main-menu a:hover {
		color: #61e890;
	}

	.head-r h1 {
		color: #000;
		font-size: 28px;
		left: 20px;
		top: -15px;
	}

	.hamburger {
		display: block;
		z-index: 10;
	}

	.present {
		top: -400px;
	}

	.present h2 {
		font-size: 22px;
		letter-spacing: 0;
		position: relative;
		top: 10px
	}

	.words {
		font-size: 32px;
		top: -5px;
	}

	.typed-cursor {
		font-size: 37px;
	}

	.look {
		width: 90px;
		height: 33px;
		position: relative;
		top: 10px;
	}

	.look a {
		font-size: 20px;
	}

	.arrow {
		width: 30px;
		height: 50px;
		top: 150px;
	}

	.arrow-point {
		top: -24px;
	}

	.arrow h1 {
		font-size: 25px;
	}

	content {
		max-width: 750px;
		margin: 0 auto;
		position: relative;
		top: 100px;
	}

	.about-me {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		top: -270px;
	}

	.text {
		width: 100%;
		position: relative;
		top: 30px;
		left: 0;
	}

	.text h2 {
		font-size: 30px;
		text-align: center;
	}

	.text h3 {
		position: relative;
		top: -18px;
	}

	.text p {
		position: relative;
		top: -20px;
		font-size: 18px;
		left: 10px;
		line-height: 22px;
	}

	.about-me img {
		width: 90%;
		height: auto;
		margin: 0 auto;
		left: 5%;
		top: 10px;
	}

	.skills {
		width: 100%;
		height: 70px;
		top: 10px;
		right: 0;
	}

	.skills h3 {
		top: 20px;
	}

	.skills h4 {
		left: 15px;
		top: 5px;
		font-size: 13px;
	}

	.skills h6 {
		right: -90%;
	}

	.progress {
		width: 90%;
		left: 5%;
	}


	nav {
		width: 100%;
		height: auto;
		display: block;
	}

	nav h1 {
		font-size: 29px;
	}

	#hr-1, #hr-2 {
		width: 30%;
	}

	.slider {
		width: 300%;
		top: 60px;
		display: flex;
		position: relative;
		left: 0;
		transition: all ease 1s;
	}

	.slide {
		width: 100%;
		margin-bottom: 70px;
	}

	.slide h2 {
		top: -5px;
		font-size: 20px;
	}

	.slide p {
		width: 90%;
		text-align: center;
		top: 0;
		left: 5%; 
	}

	.button {
		width: 33.3%;
		display: inline;
		justify-content: center;
		align-self: center;
		align-items: center;
		text-align: center;
		align-content: center;
		margin: 0 auto;
		position: relative;
		top: -10px;
		left: 47%;
	}

	.dot {
		margin: 0 auto;
	}

	.counter {
		height: auto;
		display: inline-block;
	}

	.count {
		display: inline-block;
	}

	.count h3 {
		position: relative;
		font-size: 22px;
		top: -50px;
	}

	.count img {
		position: relative;
		top: -55px;
	}

	#list-1, #list-2, #list-3, #list-4 {
		position: relative;
		top: -80px;
		font-size: 30px;
	}

	#list-4 {
		margin-bottom: -10px;
	}


	.container-vit, .container-vit-2 {
		width: 100%;
		height: auto;
		display: block;
	}

	.vit, .vit-3, .vit-4, .vit-6 {
		width: 90%;
		height: 270px;
		margin-left: 5%;
		margin-bottom: 5%;
	}

	.vit-2, .vit-5 {
		width: 90%;
		height: 270px;
		margin-left: 5%;
		margin-bottom: 5%;
	}

	.ploy, .ploy-2, .ploy-3, .ploy-4, .ploy-5, .ploy-6  {
		top: -112%;
	}

	.vit img {
		left: -75px; 
	}
		.vit-2 img {
			left: -135px; 
		}
			.vit-5 img {
				left: -70px; 
			}
	
	.container-vit h1, .container-vit-2 h1 {
		font-size: 24px;
	}


	.container-vit p, .container-vit-2 p {
		font-size: 15px;
		top: 5px;
	}

	footer h3 {
		font-size: 12px;
		word-spacing: 1px;
	}

	footer span {
		font-size: 18px;
	}

}

@media screen and (min-width: 1600px) {
	.page img {
		height: 1200px;
		margin-bottom: 50px;
	}

	header {
		margin-bottom: 500px;
	}

	.present {
		top: -870px;
	}

	.arrow {
		top: 350px;
	}
}