body {
    height: auto;
    margin: 0 auto;
    background-color: #eaeaea;
}

.page-preloader {
    display: inline-block;
    position: fixed;
    z-index: 10;
    top: -30px;
    width: 100%;
    height: 110%;
    padding: 0;
    margin: 0;
    background-color: #262626;   
}

#preloader {
    display: inline-block;
}

.pre-img {
    display: none;
}



/*MAZE*/
.second-word {
    display: none;
}

.preloader {
    width: 100%;
    position: fixed;
    top: 300px;
    margin: 0;
    padding: 0;
    background-color: #262626;   
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
}

.loader span {
    position: absolute;
    width: 50px;
    height: 50px; 
    background-color: #ff0000;/*red*/
    animation: rotate 1s linear infinite;
}

#first-square {
    top: 0;
    left: 0;
    background-color: #f79f1f;/*orange*/
    animation: first 2s linear infinite;
}

#second-square {
    top: 0;
    left: 50px;
    background-color: #12cbc4;/*blue*/
    animation: second 2s linear infinite;
}

#thirth-square {
    top: 50px;
    left: 0;
    background-color: #ed4c67;/*coral*/
    animation: thirth 2s linear infinite;
}

#fourth-square {
    top: 50px;
    left: 50px;
    background-color: #a3cb38;/*green*/ 
    animation: fourth 2s linear infinite;
}

@keyframes  first
{
    0% {
        transform: translate(0%, 0%); 
    }
    20% {
        transform: translate(0%, 0%);
    }
    40% {
        transform: translate(-50%, -50%);
    }
    60% {
        transform: translate(-50%, 50%);
    }
    80% {
        transform: translate(50%, 50%);
    }
}

@keyframes  second
{
    0% {
        transform: translate(0%, 0%); 
    }
    20% {
        transform: translate(0%, 0%);
    }
    40% {
        transform: translate(50%, -50%);
    }
    60% {
        transform: translate(-50%, -50%);
    }
    80% {
        transform: translate(-50%, 50%);
    }
    
}

@keyframes  thirth
{
    0% {
        transform: translate(0%, 0%); 
    }
    20% {
        transform: translate(0%, 0%);
    }
    40% {    
        transform: translate(-50%, 50%);
    }
    60% {
        transform: translate(50%, 50%);
    }
    80% {
        transform: translate(50%, -50%);
    }
}

@keyframes  fourth
{
    0% {
        transform: translate(0%, 0%); 
    }
    20% {
        transform: translate(0%, 0%);
    }
    40% {
        transform: translate(50%, 50%);
    }
    60% {
        transform: translate(50%, -50%);
    }
    80% {
        transform: translate(-50%, -50%);
    }
}

@keyframes rotate 
{
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(180deg);
    }
}



/*auto-text*/

.typed-cursor {
    height: 130px;
    font-size: 80px;
}


.preloader-text {
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    top: 300px;
    font-size: 80px;
}

#parentheses p {
    margin-left: 30px;
    font-size: 80px;
    font-family: monospace;
    color: #fff;
}

#parentheses {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 40%;
    font-size: 80px;
    color: #fff;
    justify-content: center;
}

#words {
    font-size: 80px;;
    text-align: center;
    position: relative;
    top: -80px;
}


header {
    position: relative;
    top: 2px;
}

.head {
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    padding:  15px 15px;
    justify-content: space-between;
    background-color: #282828;
    border: 1px solid #282828;
}

.logo img {
    width: 35px;
    height: 35px;
    position: relative;
    top: -3px;
    border-radius: 50%;
}

.logo a {
    width: 15px;
    height: 15px;
    margin-right: -80px;
}

.logo hr {
    margin-top: -9px;
    position: relative;
    left: 4px;
    width: 95px;
    color: #fff;
}

span {
    color: #f7f7f7;
    font-family: Roboto Slab,serif;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
    top: -12px;
    left: 5px;
}

.nav-mob {
    display: none;
}
.menu-active {
    display: none;
}


.nav-pc li {
    display: inline-block;
    list-style: none;
    position: relative;
    top: -15px;
    margin: 0 auto;
    text-align: center;
}

header a {
    font-size: 20px;
    padding-right: 80px;
    color: #f7f7f7;
    font-family: sans-serif;
    text-decoration: none;
}

.nav-pc hr {
    position: relative;
    right: 40px;
    width: 90px;
    text-align: left;
    transition: 0.5s all; 
}

.nav-pc li:hover #q{
    width: 10px;
}
    .nav-pc li:hover #w{
       width: 10px; 
    }
        .nav-pc li:hover #e{
            width: 10px;
        }
            .nav-pc li:hover #r{
               width: 10px; 
            }




.hamburger {
    position: relative;
    top: -25px;
    left: 60px;
    z-index: 5;
}

#check-menu {
    display: none;
}


label {
    display: block;
    position: absolute;
    top: 25px;
    right: 70px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}


.burger-line {
    position: absolute;
    top: 30px;
    right: 70px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: 0.9s all;
}
    .second, .third {
        top: 40px;
    }
        .fourth {
            top: 50px;
        }
#check-menu:checked ~ .first {
    display: none;
}

#check-menu:checked ~ .second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
    display: none;
}


content {
    width: 90%;/*1120px*/
    margin: 0 auto;
    position: relative;
    top: 2px;
    justify-content: center;
    display: flex;
}

.container {
    width: 739px;/*65%*/
    height: auto;
    margin-right: 47px;
}

.box {
    width: 100%;
    height: auto;/*850px;*/
    margin-top: 60px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
    padding-bottom: 20px;
}

.box h1 {
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 28px;
    padding: 22px 30px 3px;
    margin-right: 50px;
    margin-bottom: 27px;
}

.box h3 {
    font-family: Helvetica;
    font-weight: normal;
    color: #515151;
    font-size: 15px;
    margin-left: 40px;
    position: relative;
    top: -20px;
}

 .box img {
    width:  100%;
    height: auto;
    overflow: hidden;
    position: relative;
    top: -20px;
     -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
       -webkit-transition: all 0.3s ease-out;
}

    .box img:hover{
     -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
     -o-transform: scale(0.9);
     }


.button {
    position: relative;
    top: 0px;
    text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  position: relative;
  margin: 0 2px;
  background-color: #545454;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bcbcbc;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


 .box hr {
    width: 85%;
    color: #515151;
    opacity: 0.5;
 }

 .page-paragraph {
    position: relative;
    top: -10px;
    margin-bottom: -35px;
 }

.paragraph p {
    font-family: Helvetica;
    color: #515151;
    font-size: 19px;
    font-weight: normal;
    line-height: 28px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -10px; 
}

.paragraph h3 {
    position: relative;
    left: 20px;
    margin-top: 34px;
    font-size: 25px;
  }

.paragraph ol {
    position: relative;
    top: -20px;
    left: 10px;
    line-height:
} 

.paragraph li {
    position: relative;
    list-style: none;
    font-size: 15px;
    font-weight:normal;
    font-family: Verdana;
    -webkit-transition: 0.2s all;
}

.paragraph li:hover {
    transform: translateX(40px);
}

.paragraph span {
    color: white;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 7px;
    font-family: sans;
    text-align: center;
    margin: 7px 14px;
    line-height: 40px;
    width: 30px;
    height: 30px;
}

.paragraph i {
    font-size: 14px;
    position: relative;
    top: -9px;
    left: 1px;
}



.desk {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.desk-page {
    width: 100%;
    height: auto;
    margin-top: 38px;
    padding-bottom: 230px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
    display: block;
    position: relative;
}

.wrap {
  position: relative;
  width: 25%;
  margin-bottom: 0;
  height: auto;
  margin-left: 22px;
  margin-right: 26px;
  top: 71px;
  display: flex; /*Это сделано чтобы карточка была розмещена по центру*/
  justify-content: center; /*Это сделано чтобы карточка была розмещена по центру*/
  align-items: center; /*Это сделано чтобы карточка была розмещена по центру*/
}
 
.cart {
  width: 100%;   
  height: 100px;
  position: relative;
  transition: .4s all;
  margin: 0 auto;
  top: -30px;
}

.cart img {
    height: 210px;
    width: 100%;
    border: 1px solid;
    box-shadow: 1px 1px 2px;
}

.front h2 {
    width: 100%;
    position: relative;
    top: -10px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    background-color: #60c4c4;
    transition: .3s all;
}

.back {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-between;
}

.back a {
    text-decoration: none;
}

.back-face {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background-color: #2f3133;
    transition: .3s all;
}

.back-face h3 {
    text-align: center;
    position: relative;
    font-size: 20px;
    font-family: sans-serif;
    top: -40px;
    color: #000;
}

.back-face p {
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    top: -35px;
    text-align: justify;
    margin: 0 7px 0 7px;
    color: #fff;
}
 
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  justify-content: center;
  align-items: center; 
  transition: .5s;
}
 
.back{
  display: none;
}

.cart:hover .front{
    opacity: .5;
}
.cart:hover .back{
    display: block;
    margin-top: 115px;
}

.cart:hover .back-face {
    transform: translateY(-55px);
}

.cart:hover .front h2 {
    top: -50px;
    opacity: 0;
}




.sidebar {
    width: 341px;
    margin-top: 60px;
}

.side1 {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px; 
    margin: 0 auto; 
    padding-bottom: 45px;  
}

.side1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #555;
    display:block; 
    margin:0 auto;
    position: relative;
    top: 50px;
}

.side1 img {
 -webkit-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

    .side1 img:hover{
     -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
     -o-transform: scale(0.9);
     }

.side1 h2 {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    position: relative;
    top: 40px;
}

.side1 h3 {  
    color: #515151;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin: 0 20px; 
}
    .side1 h3:hover {
        color: #1358c6;
    }


.side1 a {
    text-decoration: none;
    cursor: pointer;
}


.side2 {
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px;
}

#quotes-1, #quotes-2 {
    height: 10px;
    font-size: 50px;
    margin: 0;
    margin-bottom: 40px;
    margin-left: 7px;
    margin-right: 7px;
}

#quotes-1 {
    position: relative;
    top: -10px;
}

#quotes-2 {
    position: relative;
    top: -40px;
    text-align: right;
}

#side2-text {
    font-family: sans;
    font-weight: normal;
    position: relative;
    top: -7px;
    margin: 0px 13px 0px 20px;
}

.side2 p {
    font-family: sans-serif;
    color: #515151;
    position: relative;
    top: -15px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
}
    


.side3 {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px; 
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 0px;
}

.side3 h3 {
    font-family: Helvetica;
    color: #515151;
    text-align: center;
    position: relative;
    top: 12px;
}

.новости {
    display: block;
    text-decoration: none;
}

.новости a {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -20px;
    font-size: 20px;
    color: #515151;
}
    .новости a:hover {
        color: #1358c6;
    }

#iphone {
    margin-top: -10px;
}

#iphone a {
    position: relative;
    top: -20px;
}

.новости li {
    display: block;
}

.новости img {
    width: 50px;
    height: 50px;
    margin-left: -15px;
    margin-bottom: 10px;
}
    .новости img {
 -webkit-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

    .новости  img:hover{
     -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
     -o-transform: scale(0.9);
     }

#almaz img {
    width: 50px;
    height: 40px;
    margin-left: -15px; 
}

#hr {
    margin-top: -50px;
    display: none;
}

#all-news  {
    color: #515151;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin: 0 20px;
    top: -16px;
}
#all-news:hover {
        color: #1358c6;
    }

.side3-a a {
    text-decoration: none;
    cursor: pointer;
}

.side4 {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 5px; 
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 10px; 
}

.side4 h2 {
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    color: #515151;
    padding: 10px;
}

.side4 hr {
    width: 90%;
    position: relative;
    top: -20px;
}

.icons li {
    display: inline-block;
}

.icons img {
    margin-right: 30px;
    position: relative;
    top: -5px;
    transition: .3s all;
}
    #html {
        width: 65px;
        height: 60px;
    }
        #css {
            width: 50px;
            height: 60px;
        }
            #js {
                width: 50px;
                height: 60px;
            }

.icons img:hover {
    transform: rotate(40deg);
}





footer {
    width: 95%;
    height: 580px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: #1a1a1a;
}

.over {
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    display: flex;  
}

.over h1 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    position: relative;
    top: 100px;
    
}

.over ul {
    line-height: 35px;
}

.over a {
    color: #666;
    font-size: 17px;
    font-variant: small-caps;
    font-family: sans-serif;
    text-decoration: none;
}

.About li {
    display: block;
    position: relative;
    top: 90px;
    text-align: left; 
}

.Support li {
    display: block;
    position: relative;
    top: 90px;
    left: 10px;
    text-align: left;
}

.Legal li {
    display: block;
    position: relative;
    top: 90px;
    left: -20px;
    text-align: left;
}

.Other li {
    display: block;
    position: relative;
    top: 90px;
    left: 10px;
    text-align: left;
}

.social {
    margin: 0 auto;
    width: 80%;
    margin-top: 150px;
    text-align: center;
}

.social ul {
    margin: 0 auto;

}

.social li {
    display: inline-block;
    padding: 20px;
    position: relative;
    right: 25px;
}

#insta {
    width: 27px;
    height: 25px;
    transition: 0.4s all;
}
    #vk {
        width: 47px;
        height: 25px;
        transition: 0.4s all;
    }
        #face {
            width: 22px;
            height: 25px;
            transition: 0.4s all;
        }
            #telega {
                width: 32px;
                height: 25px;
                transition: 0.4s all;
            }
.social img:hover {
    transform: scale(1.2);
}

.copyright {
    margin: 0 auto;
    text-align: center;
}

.copyright h2 {
    color: #515151;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 20px; 
}

.copyright h3 {
    color: #000;
    margin-top: -5px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 17px; 
}
